* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "left middle middle middle middle right"
    "footer footer footer footer footer footer";
  gap: 10px;
}

.environment,
.weather,
.forecast {
  border: 1px solid black;
  border-radius: 10px;
}

.header {
  grid-area: header;
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

.environment {
  grid-area: left;
}

.weather {
  grid-area: middle;
}

.forecast {
  grid-area: right;
}

.forecastDiv {
  margin: 5px;
  border-radius: 10px;
  background-color: rgb(246, 246, 117);
}

.footer {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: end;
}

@media (max-width: 600px) {
  .container {
    grid-template-areas:
      "header header header header header header"
      "left left left left left left"
      "middle middle middle middle middle middle"
      "right right right right right right"
      "footer footer footer footer footer footer";
  }
}
