* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: grid;
  grid-template-rows: 100px 1fr 50px;
  grid-template-areas:
    "header header header header header header"
    "left middle middle middle middle right"
    "footer footer footer footer footer footer";
  height: 100vh;
}

.environment,
.weather,
.forecast {
  border-radius: 10px;
  margin: 15px;
  padding: 5px;
}

.header {
  grid-area: header;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

.header,
.footer {
  background-color: #b3f497;
}

h1 {
  text-align: center;
}

.environment {
  grid-area: left;
}

.weather {
  grid-area: middle;
}

.location {
}

.forecast {
  grid-area: right;
}

.forecastDiv {
  margin: 5px;
  border-radius: 10px;
  background-color: rgb(246, 246, 117);
  padding: 5px;
}

.footer {
  grid-area: footer;
  padding: 10px;
  text-align: end;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

@media (max-width: 600px) {
  .container {
    grid-template-areas:
      "header header header header header header"
      "left left left left left left"
      "middle middle middle middle middle middle"
      "right right right right right right"
      "footer footer footer footer footer footer";
  }
}
