* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: "Victor Mono", monospace;
}

.container {
  display: grid;
  grid-template-rows: 100px 1fr 30px;
  min-height: 100vh;
}

.weatherReport {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.environment,
.weather,
.forecast {
  border-radius: 20px;
  margin: 15px;
  padding: 5px;
}

.header {
  padding: 20px;
  text-align: center;
  font-size: 35px;
}

.header,
.footer {
  background-color: #b3f497;
}

button,
input {
  border: none;
  background-color: white;
  font-size: large;
}

h1 {
  text-align: center;
}

.environment,
.forecast {
  margin: 40px 5px;
  font-size: large;
}

.environment p {
  margin: 20px;
}

.weather {
  text-align: center;
}

.weather div div {
  margin: 10px;
}

.conditionIcon {
  height: 100px;
}

.alertBtn {
  background-color: rgb(189, 142, 209);
}

.forecastDiv {
  margin: 30px 5px;
  border-radius: 10px;
  background-color: rgb(246, 246, 117);
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.forecastDiv p {
  margin: 10px;
}

.footer {
  padding: 5px;
  text-align: end;
  position: relative;
  bottom: 0;
  width: 100vw;
}

@media (max-width: 800px) {
  .container {
    grid-template-rows: auto;
    height: fit-content;
  }

  .weather {
    grid-area: weather;
  }

  .forecast {
    grid-area: forecast;
  }

  .environment {
    grid-area: environment;
  }

  .weatherReport {
    grid-template-areas:
      "weather"
      "forecast"
      "environment";
    grid-template-columns: 1fr;
  }
  .environment,
  .weather,
  .forecast {
    margin: 5px;
  }
}

@media screen and (min-width: 1300px) {
  .weatherReport {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}
