* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: "Victor Mono", monospace;
}

.container {
  display: grid;
  grid-template-rows: 100px 1fr 50px;
  grid-template-areas:
    "header header header header header header"
    "left middle middle middle middle right"
    "footer footer footer footer footer footer";
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.environment,
.weather,
.forecast {
  border-radius: 20px;
  margin: 15px;
  padding: 5px;
}

.header {
  grid-area: header;
  padding: 20px;
  text-align: center;
  font-size: 35px;
}

.header,
.footer {
  background-color: #b3f497;
}

button,
input {
  border: none;
  background-color: white;
  font-size: large;
}

h1 {
  text-align: center;
}

.environment {
  grid-area: left;
}

.environment,
.forecast {
  margin: 40px 5px;
  font-size: large;
}

.environment p {
  margin: 20px;
}

.weather {
  grid-area: middle;
  text-align: center;
}

.weather div div {
  margin: 10px;
}

.conditionIcon {
  height: 100px;
}

.alertBtn {
  background-color: rgb(189, 142, 209);
}

.forecast {
  grid-area: right;
}

.forecastDiv {
  margin: 30px 5px;
  border-radius: 10px;
  background-color: rgb(246, 246, 117);
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.forecastDiv p {
  margin: 10px;
}

.footer {
  grid-area: footer;
  padding: 5px;
  text-align: end;
  position: relative;
  bottom: 0;
  width: 100vw;
}

@media (max-width: 800px) {
  .container {
    grid-template-areas:
      "header header header header header header"
      "middle middle middle middle middle middle"
      "left left left left left left"
      "right right right right right right"
      "footer footer footer footer footer footer";
    grid-template-rows: auto;
    height: fit-content;
  }
  .environment,
  .weather,
  .forecast {
    margin: 5px;
  }
}
